<div class="col-12 col-md-7">
    <div class="card shadow border-0">
        <div class="card-body ">
            <h4 class="text-center fw-bold">査定日時</h4>
            <p class="font-monospace small text-center pt-0">
                2021/12/15  20:33:00
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="w-100 p-1 pt-3">
                <div class="w-100">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">

                                    </div>
                                    <h5 class="card-title mb-0">マンション査定結果トップ５</h5>
                                </div>
                                <div class="card-body" style="width:100%;overflow-x: auto;max-height: 480px;">
                                    <table class="table table-striped" style="width:100%;overflow-x: auto;">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>不動産会社</th>
                                                <th class="text-end">買取価格</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>①</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>②</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>④</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>④</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>⑤</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>⑤</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="w-100 p-1 pt-3">
                <div class="w-100">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header pb-0">
                                    <div class="card-actions float-right">

                                    </div>
                                    <h5 class="card-title mb-0">エリア査定結果トップ５</h5>
                                </div>
                                <div class="card-body" style="width:100%;overflow-x: auto;max-height: 480px;">
                                    <table class="table table-striped" style="width:100%;overflow-x: auto;">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>不動産会社</th>
                                                <th class="text-end">買取価格</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>①</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>②</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>③</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>④</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>④</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>⑤</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>⑤</td>
                                                <td>不動産会社名不動産会社名</td>
                                                <td class="align-middle text-end">
                                                    <span class="text-danger">9,999,999,999</span>円
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>