<div class="tab-pane fade" id="pills-contact" role="tabpanel"
     aria-labelledby="pills-contact-tab">

    <hr class="navbar-divider my-5 opacity-20">
    <div class="card shadow border-0">
        <div class="card-body ">
            <h4 class="text-center fw-bold">マンション名マンション名　部屋番号<strong>マンション名</strong></h4>
            <p class="font-monospace small text-start pt-3">
                住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所
            </p>

        </div>
    </div>
    <hr class="navbar-divider my-3 opacity-20">
    <div class="card shadow border-0">
        <div class="card-body ">
            <div class="justify-content-around align-items-center row">
                <div class="align-items-center col-12">
                    <div class="p-md-2 p-1" id="info">
                        <div class="text-muted"><span class="text-success">有効会員</span></div>
                        <div class="text-muted">キャピタル イチロー</div>
                        <div class="text-muted">
                            <h2>キャピタル 一郎</h2>
                        </div>
                        <div class="p-md-1 text-muted">
                            <span class="fa fa-id-card bg-light p-1 rounded-circle"></span>
                            U0000008
                        </div>
                    </div>
                </div>

            </div>
            <hr class="navbar-divider my-5 opacity-20">
            <div class="justify-content-around align-items-center row">
                <div class="d-flex flex-column col-12" id="info">

                    <div class="p-md-1 text-muted cap-fon-form-w500 ">
                        <span class="fa fa-home bg-light p-1 rounded-circle"></span>
                        京都府京都市東山区三条通南裏二筋目白川筋西入二丁目北側北木之元町一丁目七番地七号
                    </div>
                    <div class="p-md-1 pt-sm-1 text-muted">
                        <span class="fa fa-phone bg-light p-1 rounded-circle"></span> 02-6865-5551
                    </div>

                    <div class="p-md-1 pt-sm-1 text-muted">
                        <span class="fa fa-mobile bg-light p-1 ps-2 pe-2 rounded-circle"></span> 080-6865-5551
                    </div>
                    <div class="p-md-1 text-muted">
                        <span class="fa fa-envelope-o bg-light p-1 rounded-circle"></span>
                        AAAA999999@9999.aaaamail.com
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
