<div class="tab-pane fade" id="pills-profile" role="tabpanel"
     aria-labelledby="pills-profile-tab">
    <hr class="navbar-divider my-5 opacity-20">
    <div class="card shadow border-0">
        <div class="card-body ">
            <h4 class="text-center fw-bold">マンション名マンション名　部屋番号<strong>マンション名</strong></h4>
            <p class="font-monospace small text-start pt-3">
                住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所
            </p>

        </div>
    </div>
    <hr class="navbar-divider my-5 opacity-20">
    <div class="card shadow border-0">
        <div class="card-body ">
            <div class="row">
                <div class="col-4">
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>建物構造</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">SRC造<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>築年月</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">1990/1<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>部屋番号</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">999 号室<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>専有面積</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">999.99 ㎡<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>バルコニー面積　</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">999.99 ㎡<br></span></div>
                        </div>
                    </div>  <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>主採光</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">南向き<br></span></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>部屋数</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">99部屋<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>バス・トイレ　</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">セパレート<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>土地権利　</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">所有権<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>現況</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">サブリース<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>管理方式</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">委託管理<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>売却希望時期　</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">1ヶ月以内<br></span></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>家賃</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>管理賃</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>修繕積立金</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>その他費用</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                        </div>
                    </div>
                    <div class="d-inline-flex pb-1">
                        <div class="row">
                            <div class="">
                                <h6 class="align-self-center"><strong>固定資産税</strong><br></h6>
                            </div>
                            <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
