
@model Models.Tenfold.Login.t_loginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ログイン";
}
@section styles{
    @Styles.Render("~/Content/t_login")
}

<form id="form1" method="post">
   
    <h2 class="visually-hidden">管理者ログイン</h2>
    <div class="illustration"><i class="icon fa fa-user"></i></div>

    <div class="mb-3">
        <p class="text-center">管理者ログイン</p><input class="form-control cap-fon-form-w250"
                                                 type="email" name="email" id="email" placeholder="管理者ID">
        <p class="text-danger text-nowrap text-center" id="erroremail" ></p>
    </div>
    <div class="mb-3">
        <input class="form-control" type="password" name="password" id="password"
               placeholder="パスワード">
        <p class="text-danger text-nowrap text-center" id="errorpassword"></p>
    </div>
    <div class="mb-5">
        <button class="btn btn-primary d-block w-100" type="submit" id="btnLogin">
            ログイン
        </button>
        <p class="text-danger text-nowrap text-center" id="errorbtnLogin"></p>
    </div>
</form>
@section Scripts{
    @Scripts.Render("~/bundles/t_login")
}
