@model Models.RealEstate.r_sendcus_max.r_sendcus_maxModel

@{
    ViewBag.Title = "管理 送客数上限";
    Layout = "~/Views/Shared/_r_menuLayout.cshtml";
}

<h2>Index</h2>



@section Scripts{
    @Scripts.Render("~/bundles/r_sendcus_max")
}