.cap-header{padding-top: 50px;padding-bottom: 50px;background: #6792da;}
	.cap-error-icon{font-size: 15em;}
	.cap-error-title{color: #c2c2c2;}
	.cap-error-p{color: rgb(194,194,194);font-size: 13px;margin: 34px;}
	.cap-main {
		min-height: 73vh;
	}