.cap-header {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #6792da;
}

.cap-error-icon {
	font-size: 15em;
}

.cap-error-title {
	color: #c2c2c2;
}

.cap-error-p {
	color: rgb(194, 194, 194);
	font-size: 13px;
	margin: 34px;
}


.cap-con-form {
	max-width: 640px;
	width: 100%;
}

.cap-fon-form-w60mw250 {
	width: 60%;
	min-width: 250px;
}

.cap-fon-form-w350 {
	max-width: 350px;
}

.cap-fon-form-w200 {
	max-width: 200px;
}

.cap-fon-form-w250 {
	max-width: 250px;
}

.cap-fon-form-w300 {
	max-width: 300px;
}
.cap-fon-form-w100 {
	max-width: 100px;
}

.cap-fon-form-w150 {
	max-width: 150px;
}

.cap-fon-form-w600 {
	max-width: 768px;
}

.cap-icon-h1 {
	border-radius: 100px;
	border: 15px solid var(--bs-green);
}

.cap-icon-i {
	font-size: 150px;
}

.cap-card-shadow {
	box-shadow: 0px 0px 2px 0px var(--bs-gray-300);
}


.cap-form {
	background-color: #fff;
	margin: 0 auto;
	padding: 0px 50px 50px 50px;

	border-radius: 0.25rem;
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}



.cap-div-scroll {
	overflow-y: scroll;
	max-height: 200px;
	box-shadow: 0px 0px 2px var(--bs-gray-300);
	margin-bottom: 6px;
	font-size: 12px;
}

.cap-font-blue {
	color: #007bff;
}

.cap-reg-form {
	border-width: 0px;
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	padding: 40px;
	box-shadow: 0 2px 10px rgb(0 0 0 / 8%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

@media screen and (max-width: 640px){
	.cap-form {
		padding: 10px;
	}
}



.cap-btn-slg {
	padding: 1.8rem 3.6rem;
    font-size: 1.2rem;
}



	
.toggle-button {
	position: fixed;
	top: 43%;
	z-index: 999;
	background-color: white;
	padding: 10px 5px 5px 5px;
	border-radius: 0px 10px 10px 0px;box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  }
  
  .toggle-button span{
	  font-size: 2em;
	font-weight: 500;
  }
  #wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
	padding-left: 250px;
  }
  
  
  #sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
	width: 250px;
  }
  
  #page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
  }
  
  .sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  .sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
  }
  
  .sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #000000;
  }
  
  .sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255,255,255,0.2);
  }
  
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
	text-decoration: none;
  }
  
  .sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
  }
  
  .sidebar-nav > .sidebar-brand a {
	color: #000000;
  }
  
  .sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
  }
  
  #menu-toggle {
	color: #333;
	border: none;
	border-radius: 0;
	padding: 6px 8px;
  }
  
  #menu-toggle:hover { 
	background-color: #4286f4b7;
  }
  
  .glyphicon-chevron-right {
	transform: rotate(0deg);
	transition: all 0.5s;
  }
	
  #wrapper.toggled .glyphicon-chevron-right {
	transform: rotate(180deg);
  }
  
  /* Scrollbar */
  #sidebar-wrapper::-webkit-scrollbar {
	width: 12px;
  }
   
  #sidebar-wrapper::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
  }
  
  @media(min-width:768px) {
	#wrapper {
	  padding-left: 250px;
	}
  
	#wrapper.toggled {
	  padding-left: 0;
	}
  
	#sidebar-wrapper {
	  width: 250px;
	}
  
	#wrapper.toggled #sidebar-wrapper {
	  width: 0;
	}
  
	#page-content-wrapper {
	  padding: 20px;
	  position: relative;
	}
  
	#wrapper.toggled #page-content-wrapper {
	  position: relative;
	  margin-right: 0;
	}
	
	.glyphicon-chevron-right {
		transform: rotate(180deg);
	}
	
	#wrapper.toggled .glyphicon-chevron-right {
		transform: rotate(0deg);
	}
  }


  *::-webkit-scrollbar {
	height: 4px;
	width: 5px;
	background-color: #F5F5F5;
	scrollbar-color: #4285F4 #F5F5F5;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #4286f4b7;
}
