.cap-errormsg-right {
    color: red;
    font-size: .875em;
    margin-left: 10px;
    display: none;
}

.cap-errormsg-bottom {
    color: red;
    font-size: .875em;
    margin-top: 3px;
    display: none;
}

.cap-errormsg-top {
    color: red;
    font-size: .875em;
    margin-bottom: 3px;
    display: none;
}

input.cap-is-invalid:not([type="radio"]) {
    border-color: #dc3545;
}

select.cap-is-invalid {
    border-color: #dc3545;
}

textarea.cap-is-invalid {
    border-color: #dc3545;
}
