<!-- _ConfirmationMsgPopup -->
<div class="modal fade" id="site-confirmation-modal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="site-confirmation-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="site-confirmation-modal-title"></h5>
                <button type="button" class="btn-close d-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="site-confirmation-modal-message"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="site-confirmation-modal-yes">はい</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="site-confirmation-modal-no">いいえ</button>
            </div>
        </div>
    </div>
</div>