  <!-- Error modal-->
<div class="modal fade" id="csv-error-modal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="site-error-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-none" id="staticBackdropLabel">Error title</h5>
                <button type="button" class="btn-close d-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                該当データがありません。もう一度、条件を変更の上ダウンロードボタンを押してください。
            </div>
            <div class="modal-footer">
                @*@*<button type="button" class="btn btn-primary" data-bs-dismiss="modal">確認</button>*@   @*to use when need*@
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>
