@model Models.RealEstate.r_issueslist.r_issueslistModel

@{
    ViewBag.Title = "案件一覧";
    Layout = "~/Views/Shared/_r_menuLayout.cshtml";
}
@section styles{
    @Styles.Render("~/Content/realEstate_css_common")
}
<style>
    #tblissueslist thead tr th:nth-child(3),
    #tblissueslist thead tr th:nth-child(4),
    #tblissueslist thead tr th:nth-child(5),
    #tblissueslist thead tr th:nth-child(7),
    #tblissueslist thead tr th:nth-child(8),
    #tblissueslist thead tr th:nth-child(10),
    #tblissueslist thead tr th:nth-child(11),
    #tblissueslist thead tr th:nth-child(12),
    #tblissueslist thead tr th:nth-child(13),
    #tblissueslist thead tr th:nth-child(17),
    #tblissueslist tbody tr td:nth-child(3),
    #tblissueslist tbody tr td:nth-child(4),
    #tblissueslist tbody tr td:nth-child(5),
    #tblissueslist tbody tr td:nth-child(7),
    #tblissueslist tbody tr td:nth-child(8),
    #tblissueslist tbody tr td:nth-child(10),
    #tblissueslist tbody tr td:nth-child(11),
    #tblissueslist tbody tr td:nth-child(12),
    #tblissueslist tbody tr td:nth-child(13),
    #tblissueslist tbody tr td:nth-child(17) {
        display: none;
    }
</style>

<div class="d-flex flex-column min-vh-100 bg-surface-secondary mt-18" id="wrapper">
    @Html.Partial("r_issueslist_left_sideNavigation_menu")

    <div class="toggle-button">
        <a href="#menu-toggle" class="btn" id="menu-toggle">
            <span class="fa fa-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>

    <div class="d-flex flex-column min-h-screen bg-surface-secondary" id="page-content-wrapper">
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <div class="col-md-12 col-12 mb-3 mb-sm-0">
                            <h1 class="h2 mb-0 ls-tight">案件一覧</h1>
                        </div>
                        <div class="col-sm-6 col-12 text-sm-end">
                        </div>
                    </div>

                    <div class="card-header d-md-inline-flex">
                        <h5 class="mb-0">案件一覧</h5> <span class="ps-md-5 text-muted text-sm" id="total_record_up"></span> <span style="color: red;" class="ps-md-5 text-sm" id="no_record"></span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap" id="tblissueslist">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-end text-decoration-underline text-end sort-by" ordercol-index="3" style="width: 70px">No.</th>
                                    <th scope="col" style="width: 100px" class="text-decoration-underline sort-by" ordercol-index="2_3">ステータス名</th>
                                    <th>ステータスCD</th>
                                    <th>査定依頼ID</th>
                                    <th>売主保持物件ID</th>
                                    <th scope="col" style="width: 250px" class="text-decoration-underline sort-by" ordercol-index="5">物件名 (部屋番号)</th>
                                    <th>依頼売主CD</th>
                                    <th>売主_カナ</th>
                                    <th scope="col" style="width: 150px" class="text-decoration-underline sort-by" ordercol-index="8_6_3">お客様名</th>
                                    <th>Address</th>
                                    <th>Land Line No.</th>
                                    <th>Mobile No.</th>
                                    <th>Mail</th>
                                    <th scope="col" style="width: 130px" class="text-decoration-underline sort-by" ordercol-index="13_3">買取依頼日時</th>
                                    <th scope="col" style="width: 130px" class="text-decoration-underline sort-by" ordercol-index="14_3">終了日時</th>
                                    <th scope="col" style="width: 100px" class="text-decoration-underline text-end sort-by" ordercol-index="15_3">査定価格(円)</th>
                                    <th>不動産担当者CD</th>
                                    <th scope="col" style="width: 150px" class="text-decoration-underline sort-by" ordercol-index="17_16_3">担当者名</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm" id="total_record"></span>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="SellerDetails" tabindex="-1" role="dialog" aria-labelledby="SellerDetails" aria-hidden="true">
                <div class="modal-dialog modal-xl cap-modal-xl modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="h_sellerdetails">売主詳細</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="btnUpClose">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Card stats -->
                            <div class="row g-6 mb-6">
                                <div class="col-12">
                                    <div class="card shadow border-0 mb-7">
                                        <div class="card-body ">
                                            <div class="justify-content-around align-items-center row">
                                                <div class="align-items-center col-sm-6 col-lg-3">
                                                    <div class="p-md-2 p-1" id="info">
                                                        <div id="kana_name" class="text-muted"></div>
                                                        <div class="text-muted">
                                                            <h2 id="name"></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column col-sm-6 col-lg-9" id="info">
                                                    <div class="p-md-1 text-muted">
                                                        <span class="fa fa-home bg-light p-1 rounded-circle"></span> <span id="address"></span>
                                                    </div>
                                                    <div class="p-md-1 pt-sm-1 text-muted">
                                                        <span class="fa fa-phone bg-light p-1 rounded-circle"></span> <span id="landline_no"></span>
                                                    </div>
                                                    <div class="p-md-1 pt-sm-1 text-muted">
                                                        <span class="fa fa-mobile bg-light p-1 ps-2 pe-2 rounded-circle"></span> <span id="mobile_no"></span>
                                                    </div>
                                                    <div class="p-md-1 text-muted">
                                                        <span class="fa fa-envelope-o bg-light p-1 rounded-circle"></span> <span id="mail"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow border-0 ">
                                        <div class="card-header d-md-inline-flex">
                                            <h5 class="mb-0">案件一覧</h5> <span class="ps-md-5 text-muted text-sm" id="mtotal_record_up"></span> <span class="ps-md-5 text-sm" style="color: red;" id="mno_record"></span>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover table-nowrap" id="tblsellerdetails">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col" class="text-end text-decoration-underline sort-by" ordercol-index="3" style="width: 80px">No.</th>
                                                        <th scope="col" style="width: 100px" class="text-decoration-underline sort-by" ordercol-index="2_3">ステータス</th>
                                                        <th class="d-none">ステータスCD</th>
                                                        <th class="d-none">査定依頼ID</th>
                                                        <th class="d-none">売主保持物件ID</th>
                                                        <th scope="col" style="width: 250px" class="text-decoration-underline sort-by" ordercol-index="5">物件（部屋番号）</th>
                                                        <th scope="col" style="width: 130px" class="text-decoration-underline sort-by" ordercol-index="6_3">買取依頼日時</th>
                                                        <th scope="col" style="width: 130px" class="text-decoration-underline sort-by" ordercol-index="7_3">終了日時</th>
                                                        <th scope="col" style="width: 100px" class="text-decoration-underline sort-by text-end" ordercol-index="8_3">査定価格(円)</th>
                                                        <th class="d-none">不動産担当者CD</th>
                                                        <th scope="col" style="width: 180px" class="text-decoration-underline sort-by" ordercol-index="10_9_3">担当者</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="card-footer border-0 py-5">
                                            <span class="text-muted text-sm" id="mtotal_record"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card stats -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("~/Views/Shared/_r_footer.cshtml")
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/r_issueslist")
}
