<form id="form1">
    <div id="sidebar-wrapper">
        <ul class="navbar-nav mb-md-4 p-3 mt-5 p-md-0">
            <li>
                <div class="ls-wider px-xl-3" href="#">
                    <h5>メニュー</h5>
                </div>
            </li>
            <li>
                <div class="text-center px-xl-3 pt-3">
                    <div class="mb-3 text-start">
                        <div class="mb-3 text-start">
                            <label for="disabledSelect" class="form-label">ステータス</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="chk_New" checked>
                                <label class="form-check-label" for="chk_New">
                                    <span class="ms-1 ps-1 pe-1 rounded-circle bg-success text-white">新</span> 新規依頼
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="chk_Nego" checked>
                                <label class="form-check-label" for="chk_Nego">
                                    <span class="ms-1 ps-1 pe-1 rounded-circle bg-info txt-dark">交</span> 交渉中
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="chk_Contract" checked>
                                <label class="form-check-label" for="chk_Contract">
                                    <span class="ms-1 ps-1 pe-1 rounded-circle bg-secondary">成</span> 成約
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="chk_SellerDeclined" checked>
                                <label class="form-check-label" for="chk_SellerDeclined">
                                    <span class="ms-1 ps-1 pe-1 rounded-circle bg-light text-danger">辞</span> 売主辞退
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="chk_BuyerDeclined" checked>
                                <label class="form-check-label" for="chk_BuyerDeclined">
                                    <span class="ms-1 ps-1 pe-1 rounded-circle bg-dark text-white">辞</span> 買主辞退
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="text-center px-xl-3">
                    <div class="mb-3 text-start">
                        <label for="ddlStaff" class="form-label">担当者</label>
                        <select id="ddlStaff" class="form-select mb-2">
                            <option>未指定</option>
                            @foreach (Models.DropDownListItem item in ViewBag.ContactTypeDropDownListItems)
                            {
                                <option class="js-selectable" value="@item.Value" data-subject="@item.HiddenItem">@item.DisplayText</option>
                            }
                        </select>
                    </div>
                </div>
            </li>
            <li>
                <div class="text-center px-xl-3">
                    <div class="mb-3 text-start">
                        <label for="ddlRange" class="form-label">範囲指定</label>
                        <select id="ddlRange" class="form-select mb-2">
                            <option>未選択</option>
                            <option>買取依頼日</option>
                            <option>終了日付</option>
                        </select>
                        <label for="StartDate" class="form-label">開始日</label>
                        <span class="cap-errormsg-right" id="errorStartDate"></span>
                        <input class="form-control mb-2" id="StartDate" name="StartDate" type="date">
                        <label for="EndDate" class="form-label">終了日</label>
                        <span class="cap-errormsg-right" id="errorEndDate"></span>
                        <input class="form-control mb-2" id="EndDate" name="EndDate" type="date">
                        <div class="row mb-3">
                            <div class="col-6"> <button type="button" id="btnToday" name="btnToday" class="btn btn-primary w-100">今日</button></div>
                            <div class="col-6"><button type="button" id="btnThisWeek" name="btnThisWeek" class="btn btn-primary w-100">今週</button></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6"><button type="button" id="btnThisMonth" name="btnThisMonth" class="btn btn-primary w-100">今月</button></div>
                            <div class="col-6"><button type="button" id="btnLastMonth" name="btnLastMonth" class="btn btn-primary w-100">先月</button></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="text-center px-xl-3">
                    <div class="mb-3 text-start">
                        <label for="txtFreeWord" class="form-label">フリーワード</label>
                        <span class="cap-errormsg-bottom" id="errorFreeWord"></span>
                        <input type="search" id="txtFreeWord" class="form-control mb-2" placeholder="フリーワードで検索" maxlength="50" />
                    </div>
                </div>
            </li>
            <li>
                <div class="form-group ps-3 pe-3">
                    <button type="button" id="btnProcess" class="btn btn-primary w-100 w-100 mb-3">
                        表示
                    </button>
                    <div class="text-center">
                        <span class="cap-errormsg-bottom" id="errorProcess"></span>
                    </div>
                </div>
                <div class="form-group ps-3 pe-3">
                    <button type="button" id="btnCSV" class="btn btn-primary w-100 w-100 mb-3">
                        CSVダウンロード
                    </button>
                </div>
            </li>
        </ul>
        <div class="mt-auto pb-20"><a href="#">お問い合わせ</a></div>
    </div>
</form>