@{
    ViewBag.Title = "査定 - セルイチ";
}
@section styles{
    @Styles.Render("~/Content/css/a_assess_d")
}

<header class="text-center text-white masthead"
        style="height: 130px;padding-top: 50px;padding-bottom: 50px;margin-bottom: 20px;background: #6792da;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto position-relative" style="height: 50px;">
                <h1 class="mb-5" style="font-size: 30px;">詳細<strong>査定</strong></h1>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6">

                <input type="hidden" value="" id="realecd" />
                <div class="">
                    <div class="card shadow border-0 w-100">
                        <div class="card-header">
                            <h4 class="text-center" id="headerMansionName">MansionName</h4>
                            <small id="headerAddress">AddressAddressAddressAddressAddressAddressAddressAddressAddressAddressAddressAddress</small>
                        </div>
                    </div>


                    <div class="card shadow border-0 w-100">
                        <div class="card-header pb-0 pm-0">
                            <h6 class="pt-1">交通アクセス</h6>
                        </div>
                        <div class="card-body ">
                            <div class=" pb-0 pm-0">
                                <div class="row justify-content-center pb-2" id="ekikoutsu"
                                     style="overflow-x: hidden;overflow-y: auto;max-height: 265px;">
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-12 col-md-6">

                <div class="">
                    <div class="card shadow border-0">
                        <div class="card-header">
                            <h6 class="pt-1">詳細情報</h6>
                        </div>
                        <div class="card-body "
                             style="width:100%;overflow-x: hidden;overflow-y: auto;min-height: 405px;">
                            <div class="row">
                                <div class="col-md-6 col-xs-6 col-6 col-xl-4">
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>建物構造</strong><br></h6>
                                            </div>
                                            <div class=""><span class="align-self-start" id="specBuildingStructure">AAAAAAAAAA<br></span></div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>築年月</strong><br></h6>
                                            </div>
                                            <div class=""><span class="align-self-start" id="specYearContruction">YYYY/MM<br></span></div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong >部屋番号</strong><br></h6>
                                            </div>
                                            <div class=""><span class="align-self-start" id="specRoomNo">999 号室<br></span></div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>専有面積</strong><br></h6>
                                            </div>
                                            <div class=""><span class="align-self-start" id="specArea">999.99 ㎡<br></span></div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>バルコニー面積　</strong><br></h6>
                                            </div>
                                            <div class=""><span class="align-self-start" id="specBalconArea">999.99 ㎡<br></span></div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>主採光</strong><br></h6>
                                            </div>
                                            <div class=""><span class="align-self-start" id="specSunlighting">AAAAAAAAAA<br></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6 col-6 col-xl-4">
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>部屋数</strong><br></h6>
                                            </div>
                                            <div class=""><span class="align-self-start" id="specNumberofRoom">99部屋<br></span></div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>バス・トイレ　</strong><br></h6>
                                            </div>
                                            <div class=""><span class="align-self-start" id="specBathRoomToilet">AAAAAAAAAA<br></span></div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>土地権利　</strong><br></h6>
                                            </div>
                                            <div class=""><span class="align-self-start" id="specLandLight">AAAAAAAAAA<br></span></div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>現況</strong><br></h6>
                                            </div>
                                            <div class=""><span class="align-self-start" id="specPresentState">AAAAAAAAAA<br></span></div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>管理方式</strong><br></h6>
                                            </div>
                                            <div class=""><span class="align-self-start" id="specManagementSystem" >AAAAAAAAAA<br></span></div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>売却希望時期　</strong><br></h6>
                                            </div>
                                            <div class=""><span class="align-self-start" id="specDesiredTimeSale">AAAAAAAAAA<br></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6 col-6 col-xl-4">
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>家賃</strong><br></h6>
                                            </div>
                                            <div class="">
                                                <span class="align-self-start" id="specRentFee">9,999,999円<br></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>管理賃</strong><br></h6>
                                            </div>
                                            <div class="">
                                                <span class="align-self-start" id="specManagementFee">9,999,999円<br></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>修繕積立金</strong><br></h6>
                                            </div>
                                            <div class="">
                                                <span class="align-self-start" id="specRepairFee">9,999,999円<br></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>固定資産税</strong><br></h6>
                                            </div>
                                            <div class="">
                                                <span class="align-self-start" id="specTax">9,999,999円<br></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-inline-flex pb-1">
                                        <div class="row">
                                            <div class="">
                                                <h6 class="align-self-center"><strong>その他費用</strong><br></h6>
                                            </div>
                                            <div class="">
                                                <span class="align-self-start" id="specOtherFee">9,999,999円<br></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow border-0 w-100">
                    <div class="card-header pb-0">
                        <div class="card-actions float-right">

                        </div>
                        <h5 class="card-title mb-0">マンション査定結果トップ５</h5>
                    </div>
                    <div class="card-body table-responsive" style="    overflow-x: hidden;
    overflow-y: auto;
    max-height: 425px;">
                        <table class="table table-striped fixed" style="width:100%;     margin-top: -22px;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-nowrap" id="Mansionrateval">不動産業者</th>
                                    <th class="text-end text-nowrap flg-rate">成約率</th>
                                    <th class="text-end text-nowrap">査定価格</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bdyMansion">
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div class="col-md-6">

                <div class="card shadow border-0 w-100">
                    <div class="card-header pb-0">
                        <div class="card-actions float-right">

                        </div>
                        <h5 class="card-title mb-0">エリア査定結果トップ５</h5>
                    </div>
                    <div class="card-body table-responsive" style="    overflow-x: hidden;
    overflow-y: auto;
    max-height: 425px;">
                        <table class="table table-striped fixed" style="width:100%;     margin-top: -22px;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-nowrap" id="Arearateval">不動産業者</th> 
                                    <th class="text-end text-nowrap flg-rate">成約率</th>
                                    <th class="text-end text-nowrap">査定価格</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bdyArea">
                         
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<div>
    <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">買取依頼申請</h4><button type="button" class="btn-close d-none" data-bs-dismiss="modal"
                                                               aria-label="Close"></button>
                </div>
                <div class="modal-body">




                    <div class="card m-0 p-0">
                        <div class="card-header text-center ">

                            <h4 class="text-center" id="popMansion">MansionName</h4>
                            <small  id="popAddress">
                                AddressAddressAddressAddressAddressAddressAddress
                            </small>
                        </div>

                        <div class="card-body table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-nowrap">不動産業者</th>
                                        <th class="text-end text-nowrap flg-rate">成約率</th>
                                        <th class="text-end text-nowrap">査定価格</th>
                                    </tr>
                                </thead>
                                <tbody id="popModal">
                             
                                </tbody>
                            </table>
                        </div>



                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal"
                            aria-label="Close">
                        戻る
                    </button><button class="btn btn-primary btn-lg" type="button"
                                     data-bs-target="#modal-2" data-bs-toggle="modal" id="applytoSell">
                        申請
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" tabindex="-1" id="modal-2">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">買取依頼申請完了</h4><button type="button" class="btn-close d-none"
                                                                 data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section class="newsletter-subscribe" style="padding-top: 0;padding-left: 0;">
                        <div class="container">
                            <div class=""></div>
                            <form class="d-flex justify-content-center flex-wrap mx-auto" method="post"
                                  style="text-align: center;">
                                <h1 style="border-radius: 100px;border: 15px solid var(--bs-green);">
                                    <i class="fa fa-check" style="font-size: 150px;"></i>
                                </h1>
                            </form>
                        </div>
                        <h4 class="text-center align-self-center" style="margin-top: 30px;">買取依頼申請が送信されました。</h4>
                    </section>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-lg" type="button"
                            data-bs-target="#modal-2" data-bs-toggle="modal">
                        マイページへ
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/a_assess_d")
}