@model Models.Tenfold.t_assess_soudan.t_assess_soudanModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_t_menuLayout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/tenfold_css_common")
}

<h2>Index</h2>


@section Scripts{
    @Scripts.Render("~/bundles/t_assess_soudan")
}