    <!-- ポップアップ -->
<div class="modal fade" id="mansion" tabindex="-1" aria-labelledby="mansion" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl cap-modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mansionLabel">査定結果 </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-5">

                        <div class="col-12">
                            <div class="users-container">

                                <div class="users p-3">
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                                    aria-selected="true">
                                                物件情報
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                                    data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                                    aria-selected="false">
                                                詳細情報
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                                    data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                                    aria-selected="false">
                                                売主情報
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                             aria-labelledby="pills-home-tab">
                                            <section class="highlight-clean">
                                                <div>
                                                    <div class="intro">
                                                        <hr class="navbar-divider my-5 opacity-20">
                                                        <div class="card shadow border-0">
                                                            <div class="card-body ">
                                                                <h4 class="text-center fw-bold">マンション名マンション名　部屋番号</h4>
                                                                <p class="font-monospace small text-start pt-3">
                                                                    住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所
                                                                </p>

                                                            </div>
                                                        </div>
                                                        <hr class="navbar-divider my-5 opacity-20">
                                                        <div class="card shadow border-0">
                                                            <div class="card-body ">
                                                                <div class=" pb-0 pm-0">
                                                                    <h6>交通アクセス</h6>
                                                                    <div class="row justify-content-center" id="ekikoutsu"
                                                                         style="width:100%;overflow-x: hidden;overflow-y: auto;max-height: 300px;">
                                                                        <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                            <div class="card-body p-2 row">
                                                                                <div class="col-12">
                                                                                    <h5> 路線名路線名路線名</h5>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                </div>
                                                                                <div class="col-12 text-end">
                                                                                    <p class="text-dark">徒歩 99 分</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                            <div class="card-body p-2 row">
                                                                                <div class="col-12">
                                                                                    <h5> 路線名路線名路線名</h5>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                </div>
                                                                                <div class="col-12 text-end">
                                                                                    <p class="text-dark">徒歩 99 分</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                            <div class="card-body p-2 row">
                                                                                <div class="col-12">
                                                                                    <h5> 路線名路線名路線名</h5>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                </div>
                                                                                <div class="col-12 text-end">
                                                                                    <p class="text-dark">徒歩 99 分</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                            <div class="card-body p-2 row">
                                                                                <div class="col-12">
                                                                                    <h5> 路線名路線名路線名</h5>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                </div>
                                                                                <div class="col-12 text-end">
                                                                                    <p class="text-dark">徒歩 99 分</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                            <div class="card-body p-2 row">
                                                                                <div class="col-12">
                                                                                    <h5> 路線名路線名路線名</h5>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                </div>
                                                                                <div class="col-12 text-end">
                                                                                    <p class="text-dark">徒歩 99 分</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                            <div class="card-body p-2 row">
                                                                                <div class="col-12">
                                                                                    <h5> 路線名路線名路線名</h5>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                </div>
                                                                                <div class="col-12 text-end">
                                                                                    <p class="text-dark">徒歩 99 分</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                            <div class="card-body p-2 row">
                                                                                <div class="col-12">
                                                                                    <h5> 路線名路線名路線名</h5>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                </div>
                                                                                <div class="col-12 text-end">
                                                                                    <p class="text-dark">徒歩 99 分</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                            <div class="card-body p-2 row">
                                                                                <div class="col-12">
                                                                                    <h5> 路線名路線名路線名</h5>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                </div>
                                                                                <div class="col-12 text-end">
                                                                                    <p class="text-dark">徒歩 99 分</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                            <div class="card-body p-2 row">
                                                                                <div class="col-12">
                                                                                    <h5> 路線名路線名路線名</h5>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                </div>
                                                                                <div class="col-12 text-end">
                                                                                    <p class="text-dark">徒歩 99 分</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card p-1 col-12 col-md-6 shadow-sm">
                                                                            <div class="card-body p-2 row">
                                                                                <div class="col-12">
                                                                                    <h5> 路線名路線名路線名</h5>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <p class="text-dark">駅名駅名駅名駅名駅名</p>
                                                                                </div>
                                                                                <div class="col-12 text-end">
                                                                                    <p class="text-dark">徒歩 99 分</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                             aria-labelledby="pills-profile-tab">
                                            <hr class="navbar-divider my-5 opacity-20">
                                            <div class="card shadow border-0">
                                                <div class="card-body ">
                                                    <h4 class="text-center fw-bold">マンション名マンション名　部屋番号<strong>マンション名</strong></h4>
                                                    <p class="font-monospace small text-start pt-3">
                                                        住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所
                                                    </p>

                                                </div>
                                            </div>
                                            <hr class="navbar-divider my-5 opacity-20">
                                            <div class="card shadow border-0">
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>建物構造</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">SRC造<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>築年月</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">1990/1<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>部屋番号</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">999 号室<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>専有面積</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">999.99 ㎡<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>バルコニー面積　</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">999.99 ㎡<br></span></div>
                                                                </div>
                                                            </div>  <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>主採光</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">南向き<br></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>部屋数</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">99部屋<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>バス・トイレ　</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">セパレート<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>土地権利　</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">所有権<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>現況</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">サブリース<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>管理方式</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">委託管理<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>売却希望時期　</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">1ヶ月以内<br></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>家賃</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>管理賃</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>修繕積立金</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>その他費用</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-inline-flex pb-1">
                                                                <div class="row">
                                                                    <div class="">
                                                                        <h6 class="align-self-center"><strong>固定資産税</strong><br></h6>
                                                                    </div>
                                                                    <div class=""><span class="align-self-start">9,999,999円<br></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                             aria-labelledby="pills-contact-tab">

                                            <hr class="navbar-divider my-5 opacity-20">
                                            <div class="card shadow border-0">
                                                <div class="card-body ">
                                                    <h4 class="text-center fw-bold">マンション名マンション名　部屋番号<strong>マンション名</strong></h4>
                                                    <p class="font-monospace small text-start pt-3">
                                                        住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所住所
                                                    </p>

                                                </div>
                                            </div>
                                            <hr class="navbar-divider my-3 opacity-20">
                                            <div class="card shadow border-0">
                                                <div class="card-body ">
                                                    <div class="justify-content-around align-items-center row">
                                                        <div class="align-items-center col-12">
                                                            <div class="p-md-2 p-1" id="info">
                                                                <div class="text-muted"><span class="text-success">有効会員</span></div>
                                                                <div class="text-muted">キャピタル イチロー</div>
                                                                <div class="text-muted">
                                                                    <h2>キャピタル 一郎</h2>
                                                                </div>
                                                                <div class="p-md-1 text-muted">
                                                                    <span class="fa fa-id-card bg-light p-1 rounded-circle"></span>
                                                                    U0000008
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <hr class="navbar-divider my-5 opacity-20">
                                                    <div class="justify-content-around align-items-center row">
                                                        <div class="d-flex flex-column col-12" id="info">

                                                            <div class="p-md-1 text-muted cap-fon-form-w500 ">
                                                                <span class="fa fa-home bg-light p-1 rounded-circle"></span>
                                                                京都府京都市東山区三条通南裏二筋目白川筋西入二丁目北側北木之元町一丁目七番地七号
                                                            </div>
                                                            <div class="p-md-1 pt-sm-1 text-muted">
                                                                <span class="fa fa-phone bg-light p-1 rounded-circle"></span> 02-6865-5551
                                                            </div>

                                                            <div class="p-md-1 pt-sm-1 text-muted">
                                                                <span class="fa fa-mobile bg-light p-1 ps-2 pe-2 rounded-circle"></span> 080-6865-5551
                                                            </div>
                                                            <div class="p-md-1 text-muted">
                                                                <span class="fa fa-envelope-o bg-light p-1 rounded-circle"></span>
                                                                AAAA999999@9999.aaaamail.com
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-7">
                        <div class="card shadow border-0">
                            <div class="card-body ">
                                <h4 class="text-center fw-bold">査定日時</h4>
                                <p class="font-monospace small text-center pt-0">
                                    2021/12/15  20:33:00
                                </p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="w-100 p-1 pt-3">
                                    <div class="w-100">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="card">
                                                    <div class="card-header pb-0">
                                                        <div class="card-actions float-right">

                                                        </div>
                                                        <h5 class="card-title mb-0">マンション査定結果トップ５</h5>
                                                    </div>
                                                    <div class="card-body" style="width:100%;overflow-x: auto;max-height: 480px;">
                                                        <table class="table table-striped" style="width:100%;overflow-x: auto;">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>不動産会社</th>
                                                                    <th class="text-end">買取価格</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>①</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>②</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>④</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>④</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>⑤</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>⑤</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="w-100 p-1 pt-3">
                                    <div class="w-100">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="card">
                                                    <div class="card-header pb-0">
                                                        <div class="card-actions float-right">

                                                        </div>
                                                        <h5 class="card-title mb-0">エリア査定結果トップ５</h5>
                                                    </div>
                                                    <div class="card-body" style="width:100%;overflow-x: auto;max-height: 480px;">
                                                        <table class="table table-striped" style="width:100%;overflow-x: auto;">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>不動産会社</th>
                                                                    <th class="text-end">買取価格</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>①</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>②</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>③</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>④</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>④</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>⑤</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>⑤</td>
                                                                    <td>不動産会社名不動産会社名</td>
                                                                    <td class="align-middle text-end">
                                                                        <span class="text-danger">9,999,999,999</span>円
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#mansion">
                    戻る
                </button>
            </div>

        </div>
    </div>
</div>