
@{
    Layout = "~/Views/Shared/t_seller_list/_t_seller_listLayout.cshtml";
    ViewBag.Title = "売主管理";
}

@section styles{
    @Styles.Render("~/Content/t_seller_list")
}

<form id="form1">
    <header class="bg-surface-primary border-bottom pt-6">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                        <h1 class="h2 mb-0 ls-tight">管理 － 売主</h1>
                    </div>
                    <div class="col-sm-6 col-12 text-sm-end">
                        <!--<div class="mx-n1"> <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1"> <span class=" pe-2">
                              <i class="fa fa-suitcase" aria-hidden="true"></i> </span> <span>接客モード</span> </a> </div>-->
                    </div>
                </div>
                <ul class="nav nav-tabs mt-4 overflow-x border-0">
                    <li class="nav-item"> <a href="#" class="nav-link font-regular">不動産会社</a> </li>
                    <li class="nav-item"> <a href="#" class="nav-link active">売主</a> </li>
                    <li class="nav-item "> <a href="#" class="nav-link font-regular">物件</a> </li>
                    <li class="nav-item"> <a href="#" class="nav-link font-regular">物件登録管理</a> </li>
                    <li class="nav-item"> <a href="#" class="nav-link font-regular">集計</a> </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <div class="card shadow border-0 mb-7">
                <div class="card-header">
                    <h5 class="mb-0">売主一覧</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="text-end" style="width: 100px"><a class="text-decoration-underline" href="#">No.</a></th>
                                <th scope="col" style="width: 150px"><a class="text-decoration-underline" href="#">ステータス</a></th>
                                <th scope="col" style="width: 40px"><a class="text-decoration-underline text-center" href="#">無効会員</a></th>
                                <th scope="col" style="width: 200px"><a class="text-decoration-underline" href="#">売主CD</a></th>
                                <th scope="col" style="width: auto"><a class="text-decoration-underline" href="#">売主名</a></th>
                                <th scope="col" style="width: 150px"><a class="text-decoration-underline" href="#">居住地</a></th>
                                <th scope="col" style="width: 180px"><a class="text-decoration-underline" href="#">登録日時</a></th>
                                <th scope="col" style="width: 180px"><a class="text-decoration-underline" href="#">査定依頼日時</a></th>
                                <th scope="col" style="width: 180px"><a class="text-decoration-underline" href="#">買取依頼日時</a></th>
                                <th scope="col" style="width: 40px" class="text-end"><a class="text-decoration-underline" href="#">登録数</a></th>
                                <th scope="col" style="width: 40px" class="text-end"><a class="text-decoration-underline" href="#">成約数</a></th>
                            </tr>
                        </thead>
                        <tbody class="tbody_t_seller_List">
                            @*<tr>
                                <td class="text-end"> 999 </td>
                                <td>  <i class="ms-1 ps-1 pe-1 rounded-circle bg-info text-white fst-normal">交</i><span class="font-semibold"> 交渉中</span> </td>
                                <td class="text-center">  </td>
                                <td> U999999999 </td>
                                <td> <a class="text-heading font-semibold text-decoration-underline" href="#">売主名売主名売主名売主名売主名</a> </td>
                                <td> ⼤阪府 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td class="text-end"> 99999999 </td>
                                <td class="text-end"> 99999999 </td>
                            </tr>
                            <tr>
                                <td class="text-end"> 999 </td>
                                <td>  <i class="ms-1 ps-1 pe-1 rounded-circle bg-primary text-white fst-normal">見</i><span class="font-semibold"> ⾒込</span> </td>
                                <td class="text-center">  </td>
                                <td> U999999999 </td>
                                <td> <a class="text-heading font-semibold text-decoration-underline" href="#">売主名売主名売主名売主名売主名</a> </td>
                                <td> ⼤阪府 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td class="text-end"> 99999999 </td>
                                <td class="text-end"> 99999999 </td>
                            </tr>
                            <tr>
                                <td class="text-end"> 999 </td>
                                <td> <i class="ms-1 ps-1 pe-1 rounded-circle bg-secondary fst-normal">終</i><span class="font-semibold"> 終了</span></td>
                                <td class="text-center">  </td>
                                <td> U999999999 </td>
                                <td> <a class="text-heading font-semibold text-decoration-underline" href="#">売主名売主名売主名売主名売主名</a> </td>
                                <td> ⼤阪府 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td class="text-end"> 99999999 </td>
                                <td class="text-end"> 99999999 </td>
                            </tr>
                            <tr>
                                <td class="text-end"> 999 </td>
                                <td>   <i class="ms-1 ps-1 pe-1 rounded-circle bg-primary text-white fst-normal">見</i><span class="font-semibold"> ⾒込</span> </td>
                                <td class="text-center"> <i class="fa fa-check" aria-hidden="true"></i> </td>
                                <td> U999999999 </td>
                                <td> <a class="text-heading font-semibold text-decoration-underline" href="#">売主名売主名売主名売主名売主名</a> </td>
                                <td> ⼤阪府 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td class="text-end"> 99999999 </td>
                                <td class="text-end"> 99999999 </td>
                            </tr>
                            <tr>
                                <td class="text-end"> 999 </td>
                                <td>  <i class="ms-1 ps-1 pe-1 rounded-circle bg-primary text-white fst-normal">見</i><span class="font-semibold"> ⾒込</span></td>
                                <td class="text-center"> <i class="fa fa-check" aria-hidden="true"></i> </td>
                                <td> U999999999 </td>
                                <td> <a class="text-heading font-semibold text-decoration-underline" href="#">売主名売主名売主名売主名売主名</a> </td>
                                <td> ⼤阪府 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td class="text-end"> 99999999 </td>
                                <td class="text-end"> 99999999 </td>
                            </tr>
                            <tr>
                                <td class="text-end"> 999 </td>
                                <td>  <i class="ms-1 ps-1 pe-1 rounded-circle bg-secondary fst-normal">終</i><span class="font-semibold"> 終了</span> </td>
                                <td class="text-center"> <i class="fa fa-check" aria-hidden="true"></i> </td>
                                <td> U999999999 </td>
                                <td> <a class="text-heading font-semibold text-decoration-underline" href="#">売主名売主名売主名売主名売主名</a> </td>
                                <td> ⼤阪府 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td class="text-end"> 99999999 </td>
                                <td class="text-end"> 99999999 </td>
                            </tr>
                            <tr>
                                <td class="text-end"> 999 </td>
                                <td>  <i class="ms-1 ps-1 pe-1 rounded-circle bg-info text-white fst-normal">交</i><span class="font-semibold"> 交渉中</span></td>
                                <td class="text-center">  </td>
                                <td> U999999999 </td>
                                <td> <a class="text-heading font-semibold text-decoration-underline" href="#">売主名売主名売主名売主名売主名</a> </td>
                                <td> ⼤阪府 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td class="text-end"> 99999999 </td>
                                <td class="text-end"> 99999999 </td>
                            </tr>
                            <tr>
                                <td class="text-end"> 999 </td>
                                <td>  <i class="ms-1 ps-1 pe-1 rounded-circle bg-primary text-white fst-normal">見</i><span class="font-semibold"> ⾒込</span></td>
                                <td class="text-center"> <i class="fa fa-check" aria-hidden="true"></i> </td>
                                <td> U999999999 </td>
                                <td> <a class="text-heading font-semibold text-decoration-underline" href="#">売主名売主名売主名売主名売主名</a> </td>
                                <td> ⼤阪府 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td class="text-end"> 99999999 </td>
                                <td class="text-end"> 99999999 </td>
                            </tr>
                            <tr>
                                <td class="text-end"> 999 </td>
                                <td> <i class="ms-1 ps-1 pe-1 rounded-circle bg-secondary fst-normal">終</i><span class="font-semibold"> 終了</span> </td>
                                <td class="text-center">  </td>
                                <td> U999999999 </td>
                                <td> <a class="text-heading font-semibold text-decoration-underline" href="#">売主名売主名売主名売主名売主名</a> </td>
                                <td> ⼤阪府 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td> 2020/12/15 20:33:00 </td>
                                <td class="text-end"> 99999999 </td>
                                <td class="text-end"> 99999999 </td>
                            </tr>*@

                        </tbody>
                    </table>
                </div>
                <div class="card-footer border-0 py-5">
                    <span class="text-muted text-sm">見つかった999999件の結果を表示されています。</span>
                </div>
            </div>
        </div>
    </main>
</form>
@section Scripts{
    @Scripts.Render("~/bundles/t_seller_list")
}
