
<div class="card shadow border-0 mb-7">

    <div class="card-header">

        <div class="col-md-12 col-12 mb-3 mb-sm-0 d-flex">

            <h1 class="h2 mb-0 ls-tight">処理待ち</h1>
            <span class="ps-2 text-muted small align-self-end">査定依頼</span>
        </div>
    </div>
    <ul class="nav nav-tabs mt-0 overflow-x border-0 ps-5">
        <li class="nav-item"> <a href="/t_assess_guide/Index" class="nav-link" id="anchor_guide">処理待ち</a> </li>
        <li class="nav-item "> <a href="/t_assess_soudan/Index" class="nav-link font-regular">相談確認</a> </li>
    </ul>

</div>

<script type='text/javascript'>
    $(function (){
        $('ul li a').each(function (idx, a) {
            if ($(a).prop('href') == window.location.href)
                $(this).addClass('active');
            else
                $(this).removeClass('active');
        });
    });
</script>