@{
    Layout = "~/Views/Shared/_r_menuLayout.cshtml";
    ViewBag.Title = "r_dashboard";
}
@section styles{
    @Styles.Render("~/Content/realEstate_css_common")
}
<div class="d-flex flex-column min-vh-100 bg-surface-secondary mt-18">
    <div class="d-flex flex-column min-h-screen" id="page-content-wrapper">
        <form id="form1">
            <main class="py-6 bg-surface-secondary">

                <div class="container-fluid">
                    <div class="card shadow border-0 mb-7">

                        <div class="card-header">

                            <div class="col-md-12 col-12 mb-3 mb-sm-0">

                                <h1 class="h2 mb-0 ls-tight">ダッシュボード</h1>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="card mb-5">
                                <div class="card-body text-center mb-5 mb-md-0">
                                    @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                         class="rounded-circle img-fluid" id="imgProfile" style="width: 150px;">*@
                                    <img alt="avatar"
                                         class="rounded-circle img-fluid" id="imgProfile" style="width: 150px;">
                                    <h5 class="my-1" id="staffName"></h5>
                                    <h5 class="my-1" id="companyName"></h5>
                                    <p class="text-muted mb-1">前回データ更新日</p>
                                    <p class="text-muted mb-1"><span id="oldestDate"></span> <span id="date-count"></span></p>

                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-9">
                            <div class="card shadow border-0 mb-6">
                                <div class="card-header">
                                    <h5 class="mb-0">
                                        情報
                                    </h5>
                                </div>


                            </div>

                            <!-- Card stats -->
                            <div class="row g-6 mb-5">
                                <div class="col-xl-6 col-sm-6 col-12">
                                    <div class="card shadow border-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">新規依頼</span>
                                                    <span class="h3 font-bold mb-0" id="newRequest"></span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-6 col-12">
                                    <div class="card shadow border-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">交渉中</span>
                                                    <span class="h3 font-bold mb-0" id="negotiations"></span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-6 col-12">
                                    <div class="card shadow border-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">累計成約</span>
                                                    <span class="h3 font-bold mb-0" id="NumCompleted"></span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
                                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-6 col-12">
                                    <div class="card shadow border-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">累計辞退</span>
                                                    <span class="h3 font-bold mb-0" id="NumDecline"></span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-warning text-white text-lg rounded-circle">
                                                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </main>
            @Html.Partial("~/Views/Shared/_r_footer.cshtml")
        </form>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/r_dashboard")
}