@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>査定 - セルイチ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="~/Content/css/Soft-UI-Aside-Navbar.css">
    <link rel="stylesheet" href="~/Content/css/errorpage.css">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
        <div class="container">
            <a class="navbar-brand" href="#">セルイチ</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
            <div class="collapse navbar-collapse justify-content-end" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><i class="fa fa-building-o pe-2"></i>査定</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-user pe-2"></i>マイページ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-white masthead cap-header">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    <h1 class="mb-2"><strong>500&nbsp;</strong>Internal Server Error<br></h1>
                </div>
            </div>
        </div>
    </header>
    <section class="cap-main">
        <div class="container w-100 h-100">
            <div class="col">
                <div class="row">
                    <div class="col text-center"><i class="fa fa-server w-100 cap-error-icon pt-5 pb-3"></i></div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="cap-error-title text-center">サーバー内部エラーです。<br></h3>
                        <p class="lead shadow-none text-center cap-error-p"><strong>申し訳ございませんが、</strong>しばらくしてから<strong>もう一度</strong>お試しください。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-center text-lg-start my-auto h-100 w-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">セルイチについて</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">お問い合わせ</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">利用規約</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">操作ガイド</a></li>
                        <li class="list-inline-item"><a href="#"><span>⋅</span>プライバシーポリシー</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© セルイチ 2022. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>