@{
    Layout = "~/Views/Shared/t_seller_mansion/_t_seller_mansionLayout.cshtml";
}
@section styles{
    @Styles.Render("~/Content/t_seller_mansion")
}
<header class="bg-surface-primary border-bottom pt-6">
    <div class="container-fluid">
        <div class="mb-npx">
            <div class="row align-items-center">
                <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                    <h1 class="h2 mb-0 ls-tight">管理 － 物件(部屋)</h1>
                </div>
                <div class="col-sm-6 col-12 text-sm-end">
                    <!--<div class="mx-n1"> <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1"> <span class=" pe-2">
                          <i class="fa fa-suitcase" aria-hidden="true"></i> </span> <span>接客モード</span> </a> </div>-->
                </div>
            </div>
            <ul class="nav nav-tabs mt-4 overflow-x border-0">
                <li class="nav-item"> <a href="#" class="nav-link font-regular">不動産会社</a> </li>
                <li class="nav-item"> <a href="@Url.Action("Index", "t_seller_list")" class="nav-link font-regular">売主</a> </li>
                <li class="nav-item "> <a href="#" class="nav-link active">物件(部屋)</a> </li>
                <li class="nav-item"> <a href="#" class="nav-link font-regular">マンション</a> </li>
                <li class="nav-item"> <a href="#" class="nav-link font-regular">集計</a> </li>
            </ul>
        </div>
    </div>
</header>
<main class="py-6 bg-surface-secondary">
    <div class="container-fluid">
        <div class="card shadow border-0 mb-7">
            <div class="card-header d-md-inline-flex">
                <h5 class="mb-0">物件査定一覧</h5> <span class="ps-md-5 text-muted text-sm" id="total_record_up"></span>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap sortMe" id="mansiontable">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="text-end text-decoration-underline sort-by" style="width:100px" data-type="number">No.</th>
                            <th scope="col" style="width: 100px" class="text-decoration-underline sort-status">ステータス</th>
                            <th scope="col" style="width: 100px" class="text-decoration-underline sort-by">物件CD</th>
                            <th scope="col" style="width: 300px" class="text-decoration-underline sort-by">マンション名/住所</th>
                            <th scope="col" style="width: 100px" class="text-decoration-underline sort-by">部屋番号</th>
                            <th scope="col" style="width: 100px" class="text-decoration-underline text-end sort-by" data-type="number">階数(階)</th>
                            <th scope="col" style="width: 100px" class="text-decoration-underline text-end sort-by" data-type="number">面積(㎡)</th>
                            <th scope="col" style="width: 300px" class="text-decoration-underline sort-by">売主名</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by">登録日時</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by">詳細査定日時</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by">買取依頼日時</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by" data-type="number">マンション  Top1/金額</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by" data-type="number">エリア Top1/金額</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by" data-type="number">買取依頼会社/金額</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by">送客日時</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by">成約日時</th>
                            <th scope="col" style="width: 180px" class="text-decoration-underline sort-by">辞退日時</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 py-5">
                <span class="text-muted text-sm" id="total_record">検索結果：999999件</span>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    @Scripts.Render("~/bundles/t_seller_mansion")
}
