/* areamap */
.areamap .areamap-map {
	width: 500px;
	margin: 0 auto;
}

.areamap .areamap-field {
    background: url(../images/map/japan_map_outline.png) left top no-repeat;
}

.areamap .ui-icon--loupe8 {
	margin-right: 5px;
}

.areamap .ui-icon--building2,
.areamap .ui-icon--house2 {
	margin-right: 5px;
}


/* areamap_monthly_background */
.areamap_monthly_background {
	position: relative;
	height: 426px;
}

/* areabox */
.areabox {
	position: absolute;
	text-align: center;
}

.areabox:hover {
	opacity: .9;
}

.areabox .areabox-link {
	display: block;
}

.areabox .areabox-title {
	font-weight: bold;
	color: #263C2A;
	line-height: 1;
}

.areabox .areabox-list {
	color: #999999;
	font-size: 0.9em;
}

.areabox .areabox-list li {
	display: inline;
}


.areabox.areabox--kanto {
	right: 0;
	top: 180px;
	padding-top: 11px;
}

.areabox.areabox--kanto .areabox-link {
	width: 130px;
	height: 150px;
	padding-top: 1.3em;
	font-size: 1.3em;
}

.areabox.areabox--tokai {
	left: 220px;
	top: 320px;
	padding-top: 10px;
}

.areabox.areabox--tokai .areabox-link {
	width: 130px;
	height: 110px;
	padding-top: 1.3em;
	font-size: 1.3em;
}

.areabox.areabox--kansai {
	top: 200px;
	left: 160px;
	padding-top: 10px;
}

.areabox.areabox--kansai .areabox-link {
	width: 130px;
	height: 110px;
	padding-top: 1.3em;
	font-size: 1.3em;
}

.areabox.areabox--kyushu {
	top: 230px;
	left: 0;
	padding-bottom: 10px;
}

.areabox.areabox--kyushu .areabox-link {
	width: 130px;
	height: 110px;
	padding-top: 1.3em;
	font-size: 1.3em;
}


@media screen and (max-width: 768px){

	.areamap .areamap-map {
		width: auto;
	}
	.areamap .areamap-field {
		background: none;
		display:inline;
	}

	.areamap_monthly_background{
		height: auto;
		width: 100%;
	}

	#js-areamap_monthly_background{
		display:inline;

	}

	.areabox .areabox-list li {
		display:inline;
	}

	.areabox.areabox--kanto {
		right: auto;
		top: auto;
		padding-top: 0;
		width: 40%;
		margin: auto;
	}
	.areabox.areabox--tokai {
		left: auto;
		top: auto;
		padding-top: 0;
		width: 40%;
		margin: auto;
		padding-top: 0.5em;
	}

	.areabox.areabox--kansai {
		top: auto;
		left: auto;
		padding-top: 0;
		width: 40%;
		margin: auto;
		padding-top: 0.5em;
	}

	.areabox.areabox--kyushu {
		top: auto;
		left: auto;
		padding-bottom: 0;
		width: 40%;
		margin: auto;
		padding-top: 0.5em;
	}

	.areabox {
		position: relative;
		text-align: center;
	}
	
}