
@{
    ViewBag.Title = "セルイチ管理機能";
    Layout = "~/Views/Shared/_t_menuLayout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/tenfold_css_common")
}

<div class="d-flex flex-column min-vh-100 bg-surface-secondary mt-18">
    <div class="d-flex flex-column min-h-screen bg-surface-secondary" id="page-content-wrapper">

        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">

                <div class="card shadow border-0 mb-7">

                    <div class="card-header">

                        <div class="col-md-12 col-12 mb-3 mb-sm-0 d-flex">

                            <div class="border-end"><button type="button" class="btn btn-secondary me-2">戻る</button></div><h1 class="ps-2 h2 mb-0 ls-tight">売主</h1>
                            <span class="ps-2 text-muted small align-self-end">管理</span>
                        </div>
                        <hr class="navbar-divider my-5 opacity-20">
                        <div class="d-inline-flex"><h5 class="mb-0">設定</h5></div>
                    </div>
                    <div class="card-body container">
                        <div class="col-12 py-3">
                            <form class="mx-auto" method="post" enctype="multipart/form-data" role="form">
                                <div class="m-auto">

                                    <div class="row justify-content-center">
                                        <div class="col-12 col-md-3">
                                            <div class="">
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <h5>査定可能枠数</h5>
                                                        <div class="d-inline-flex pt-5">
                                                            <input type="text" id="form3Examplev4" class="form-control text-end" value="9,999" />
                                                            <p class="ps-2 d-xl-flex align-items-xl-end text-nowrap">件</p>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="">
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <h5>成約時増枠数</h5>
                                                        <div class="d-inline-flex pt-5">
                                                            <input type="text" id="form3Examplev4" class="form-control text-end" value="9,999" />
                                                            <p class="ps-2 d-xl-flex align-items-xl-end text-nowrap">件</p>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="">
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <h5>査定枠追加時の請求額</h5>
                                                        <div class="d-inline-flex pt-5">
                                                            <input type="text" id="form3Examplev4" class="form-control text-end" value="9,999" />
                                                            <p class="ps-2 d-xl-flex align-items-xl-end text-nowrap">円</p>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="">
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <h5>再査定に課金が必要な期間</h5>
                                                        <div class="d-inline-flex pt-5">
                                                            <input type="text" id="form3Examplev4" class="form-control text-end" value="9,999" />
                                                            <p class="ps-2 d-xl-flex align-items-xl-end text-nowrap">か月</p>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right mt-3 float-end">
                            <button type="button" class="btn btn-primary">変更保存</button>&nbsp;
                            <button type="button" class="btn btn-default">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("_t_footer")
    </div>
</div>

