@*r_asmc_address / r_asmc_railway 共通*@

@{
    string button_label1 = (ViewBag.PageID == "r_asmc_address" || ViewBag.PageID == "r_asmc_ms_map_add" ? "さらに町名を絞り込む"
                          : ViewBag.PageID == "r_asmc_railway" ? "さらに駅を絞り込む"
                          : "");

    string button_label2 = (ViewBag.PageID == "r_asmc_ms_map_add" ? "地図で検索" : "新規登録");
}

<div id="sidebar-wrapper">
    <ul class="navbar-nav mb-md-4 p-3 mt-5 p-md-0">
        <li>
            <div class="text-center px-xl-3 pt-3">

                <div class="text-start">
                    <label class="form-label">表示設定</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox_settings1" autocomplete="off" checked>
                        <label class="form-check-label" for="checkbox_settings1">
                            登録マンション数
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox_settings2" autocomplete="off" checked>
                        <label class="form-check-label" for="checkbox_settings2">
                            設定会社数
                        </label>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <hr class="navbar-divider my-5 opacity-20">
    <ul class="navbar-nav mb-md-4 p-3 mt-5 p-md-0">
        <li>
            <div class="text-center px-xl-3 pt-3">
                <div class="text-start">
                    <label class="form-label">有効期限切れ</label>
                    <div class="form-check">
                        @if (ViewBag.ExpiredCheck)
                        {
                            <input class="form-check-input" type="checkbox" id="checkbox_expired" checked>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" id="checkbox_expired">
                        }
                        <label class="form-check-label" for="checkbox_expired">
                            有効期限7日前～のみ表示
                        </label>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <hr class="navbar-divider my-5 opacity-20">
    <ul class="navbar-nav mb-md-4 p-3 p-md-0">
        <li>
            <div class="form-group ps-3 pe-3 pb-3">
                <button type="button" class="btn btn-primary w-100" id="btnSearchDetail">
                    @button_label1
                </button>
            </div>
        </li>
        <li>
            <div class="form-group ps-3 pe-3">
                <button type="button" class="btn btn-primary w-100" id="btnRegister">
                    @button_label2
                </button>
            </div>
        </li>
    </ul>
    <div class="mt-auto pb-20"></div>
</div>
<div class="toggle-button">
    <a href="#menu-toggle" class="btn" id="menu-toggle">
        <span class="fa fa-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>

