@*r_asmc_address / r_asmc_railway 共通*@

@{
    string button_label = (ViewBag.PageID == "r_asmc_address" ? "さらに町名を絞り込む"
                         : ViewBag.PageID == "r_asmc_railway" ? "さらに駅を絞り込む"
                         : "");
}

<div id="sidebar-wrapper">
    <ul class="navbar-nav mb-md-4 p-3 mt-5 p-md-0">
        <li>
            <div class="text-center px-xl-3 pt-3">

                <div class="text-start">
                    <label for="disabledSelect" class="form-label">表示設定</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox_settings1" checked>
                        <label class="form-check-label" for="checkbox_settings1">
                            登録マンション数
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox_settings2" checked>
                        <label class="form-check-label" for="checkbox_settings2">
                            設定会社数
                        </label>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <hr class="navbar-divider my-5 opacity-20">
    <ul class="navbar-nav mb-md-4 p-3 p-md-0">
        <li>
            <div class="form-group ps-3 pe-3 pb-3">
                <button type="button" class="btn btn-primary w-100" id="btnSearchDetail">
                    @button_label
                </button>
            </div>
        </li>
        <li>
            <div class="form-group ps-3 pe-3">
                <button type="button" class="btn btn-primary w-100" id="btnRegistration">
                    新規登録
                </button>
            </div>
        </li>
    </ul>
    <div class="mt-auto pb-20"></div>
</div>
<div class="toggle-button">
    <a href="#menu-toggle" class="btn" id="menu-toggle">
        <span class="fa fa-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>

