@*r_asmc_address / r_asmc_railway 共通*@

<ul class="nav nav-tabs mt-0 overflow-x border-0 ps-5">
    @foreach (var item in ViewBag.Regions)
    {
        if (item.RegionCD == ViewBag.CurrentRegionCD)
        {
            <li class="nav-item">
                <a href="@Url.Action("Index", "r_asmc_address", new { rc = item.RegionCD })" class="nav-link active">
                    @item.RegionName
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a href="@Url.Action("Index", "r_asmc_address", new { rc = item.RegionCD })" class="nav-link font-regular">
                    @item.RegionName
                </a>
            </li>
        }
    }
</ul>
