@model Models.Tenfold.t_seller_profile.t_seller_profileModel

@{
    ViewBag.Title = "売主情報管理";
    Layout = "~/Views/Shared/_t_menuLayout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/tenfold_css_common")
}

<div class="d-flex flex-column min-vh-100 bg-surface-secondary mt-18">
    <div class="d-flex flex-column min-h-screen bg-surface-secondary" id="page-content-wrapper">
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                @Html.Partial("t_reale_Info")

                <div class="card shadow border-0 mb-7" style="border-top-left-radius: unset;border-top-right-radius: unset;">
                    <div class="card-header d-md-inline-flex text-nowrap">
                        <h5 class="mb-0">情報管理</h5>
                    </div>

                    <div class="p-md-5 container">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-12">
                                <div class="row g-0">
                                    <div class="col-lg-5">
                                        <div class="p-5">
                                            <div class="mb-4 pb-2">
                                                <div class="form-outline">
                                                    <label class="form-label" for="form3Examplev4">お名前</label>
                                                    <input type="text" id="form3Examplev4" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                            <div class="mb-4 pb-2">
                                                <div class="form-outline">
                                                    <label class="form-label" for="form3Examplev4">お名前(フリガナ)</label>
                                                    <input type="text" id="form3Examplev4" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                            <div class="mb-4 pb-2">
                                                <div class="form-outline">
                                                    <label class="form-label" for="form3Examplev4">生年月日</label>
                                                    <input class="form-control countries order-alpha limit-pop-1000000 presel-MX group-continents group-order-na cap-fon-form-w150 text-center"
                                                           required="" value="1970-01-01" type="text" maxlength="10">
                                                </div>
                                            </div>

                                            <hr class="navbar-divider mb-4 my-5 opacity-20">
                                            <div class="mb-4 pb-2">
                                                <div class="form-outline">
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-changpw">パスワード変更</button>
                                                </div>
                                            </div>

                                            <hr class="navbar-divider mb-4 my-5 opacity-20">
                                            <div class="mb-4 pb-2">
                                                <div class="form-outline">
                                                    <label class="form-label" for="form3Examplev4">メモ</label>
                                                    <textarea class="form-control custom-control" rows="10"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 bg-indigo text-white">
                                        <div class="p-5">

                                            <div class="mb-4 pb-2">
                                                <div class="form-group">
                                                    <label class="form-label">郵便番号</label>
                                                    <div class="row">
                                                        <div class="col-8 col-md-7 row">
                                                            <div class="col-1 align-self-center">
                                                                <span class="text-dark">〒</span>
                                                            </div>
                                                            <div class="col-4 col-md-3 pe-0 ms-0 me-0 align-self-centeralign-self-center">
                                                                <input class="form-control text-center w-100" type="text"
                                                                       value="123" maxlength="3">
                                                            </div>
                                                            <div class="col-1 ps-0 pe-0 ms-0 me-0 text-center align-self-center">
                                                                <span class="align-self-center text-dark">―</span>
                                                            </div>
                                                            <div class="col-4 ps-0 pe-0 ms-0 me-0 align-self-center">
                                                                <input class="form-control text-center w-100" type="text"
                                                                       value="4567" maxlength="4">
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>



                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <label class="form-label" for="form3Examplea2">都道府県</label>
                                                    <div class="dropdown w-100">
                                                        <button class="btn btn-lg btn-light dropdown-toggle"
                                                                aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                            京都府
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">東京都</a><a class="dropdown-item" href="#">千葉県</a><a class="dropdown-item" href="#">神奈川県</a><a class="dropdown-item" href="#">埼玉県</a><a class="dropdown-item" href="#">愛知県</a><a class="dropdown-item" href="#">京都府</a><a class="dropdown-item" href="#">大阪府</a><a class="dropdown-item" href="#">兵庫県</a><a class="dropdown-item" href="#">福岡県</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <label class="form-label" for="form3Examplea3">市区町村</label>
                                                    <input type="text" id="form3Examplea3" class="form-control form-control-lg"
                                                           value="京都市東山区" />
                                                </div>
                                            </div>

                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <label class="form-label" for="form3Examplea3">住所</label>
                                                    <input type="text" id="form3Examplea3" class="form-control form-control-lg"
                                                           value="三条通南二筋目白川筋西入ル二丁目北木之元町3-5-5" />
                                                </div>
                                            </div>

                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <label class="form-label" for="form3Examplea6">建物名</label>
                                                    <input type="text" id="form3Examplea6" class="form-control form-control-lg"
                                                           value="あああああああああマンション" />
                                                </div>
                                            </div>
                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <label class="form-label" for="form3Examplea6">電話番号</label>
                                                    <input type="text" id="form3Examplea6" class="form-control form-control-lg"
                                                           value="0678545689" />
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <div class="form-outline form-white">
                                                    <label class="form-label" for="form3Examplea9">携帯番号</label>
                                                    <input type="text" id="form3Examplea9" class="form-control form-control-lg"
                                                           value="09012345678" />
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <div class="form-outline form-white">
                                                    <label class="form-label" for="form3Examplea9">FAX番号</label>
                                                    <input type="text" id="form3Examplea9" class="form-control form-control-lg"
                                                           value="0611112223" />
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <div class="form-outline form-white">
                                                    <label class="form-label" for="form3Examplea9">メールアドレス</label>
                                                    <input type="text" id="form3Examplea9" class="form-control form-control-lg" value="aaaaabbbb@ggggg.cccc" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="card-footer">
                        <div class="text-right mt-3 float-end">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">変更保存</button>&nbsp;<button type="button" class="btn btn-lg btn-default" data-bs-toggle="modal"
                                                                                                                                                           data-bs-target="#modal-changecal">
                                取消
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">変更内容確認</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <!-- Card stats -->
                                <div class="p-5 container">
                                    <div class="row d-flex justify-content-center align-items-center h-100">
                                        <div class="col-12">
                                            <div class="row g-0">
                                                <div class="col-lg-5">
                                                    <div class="p-5">
                                                        <div class="mb-4 pb-2">
                                                            <div class="form-outline">
                                                                <label class="form-label" for="form3Examplev4">お名前</label>
                                                                <input disabled type="text" id="form3Examplev4" class="form-control form-control-lg" />
                                                            </div>
                                                        </div>
                                                        <div class="mb-4 pb-2">
                                                            <div class="form-outline">
                                                                <label class="form-label" for="form3Examplev4">お名前(フリガナ)</label>
                                                                <input disabled type="text" id="form3Examplev4" class="form-control form-control-lg" />
                                                            </div>
                                                        </div>
                                                        <div class="mb-4 pb-2">
                                                            <div class="form-outline">
                                                                <label class="form-label" for="form3Examplev4">生年月日</label>
                                                                <input disabled type="text" id="form3Examplev4" class="form-control form-control-lg text-center" />
                                                            </div>
                                                        </div>


                                                        <hr class="navbar-divider mb-4 my-5 opacity-20">
                                                        <div class="mb-4 pb-2">
                                                            <div class="form-outline">
                                                                <label class="form-label" for="form3Examplev4">メモ</label>
                                                                <textarea class="form-control custom-control" rows="10" disabled></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 bg-indigo text-white">
                                                    <div class="p-5">

                                                        <div class="mb-4 pb-2">
                                                            <div class="row cap-fon-form-w350 form-outline form-white">
                                                                <label class="form-label" for="form3Examplea4">郵便番号</label>
                                                                <div class="col-12 col-md-8 d-inline-flex mb-4 mb-md-0 pb-md-0 pb-2">
                                                                    <span class="align-self-center pe-2 text-dark">〒</span><input disabled
                                                                                                                                  class="form-control text-center w-50" type="text" value="123"><span class="align-self-center pe-2 ps-2 text-dark">-</span><input disabled
                                                                                                                                                                                                                                                                   class="form-control w-50 text-center" type="text" value="4567">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="mb-4 pb-2">
                                                            <div class="form-outline form-white">
                                                                <label class="form-label" for="form3Examplea2">都道府県</label>
                                                                <div class="dropdown w-100">
                                                                    <input disabled type="text" id="form3Examplea3" class="form-control form-control-lg"
                                                                           value="京都府" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="mb-4 pb-2">
                                                            <div class="form-outline form-white">
                                                                <label class="form-label" for="form3Examplea3">市区町村</label>
                                                                <input disabled type="text" id="form3Examplea3" class="form-control form-control-lg"
                                                                       value="京都市東山区" />
                                                            </div>
                                                        </div>

                                                        <div class="mb-4 pb-2">
                                                            <div class="form-outline form-white">
                                                                <label class="form-label" for="form3Examplea3">住所</label>
                                                                <input disabled type="text" id="form3Examplea3" class="form-control form-control-lg"
                                                                       value="三条通南二筋目白川筋西入ル二丁目北木之元町3-5-5" />
                                                            </div>
                                                        </div>
                                                        <div class="mb-4 pb-2">
                                                            <div class="form-outline form-white">
                                                                <label class="form-label" for="form3Examplea6">建物名</label>
                                                                <input disabled type="text" id="form3Examplea6" class="form-control form-control-lg"
                                                                       value="あああああああああマンション" />
                                                            </div>
                                                        </div>
                                                        <div class="mb-4 pb-2">
                                                            <div class="form-outline form-white">
                                                                <label class="form-label" for="form3Examplea6">電話番号</label>
                                                                <input disabled type="text" id="form3Examplea6" class="form-control form-control-lg"
                                                                       value="0678545689" />
                                                            </div>
                                                        </div>
                                                        <div class="mb-4">
                                                            <div class="form-outline form-white">
                                                                <label class="form-label" for="form3Examplea9">携帯番号</label>
                                                                <input disabled type="text" id="form3Examplea9" class="form-control form-control-lg"
                                                                       value="09012345678" />
                                                            </div>
                                                        </div>
                                                        <div class="mb-4">
                                                            <div class="form-outline form-white">
                                                                <label class="form-label" for="form3Examplea9">FAX番号</label>
                                                                <input disabled type="text" id="form3Examplea9" class="form-control "
                                                                       value="0611112223" />
                                                            </div>
                                                        </div>
                                                        <div class="mb-4">
                                                            <div class="form-outline form-white">
                                                                <label class="form-label" for="form3Examplea9">メールアドレス</label>
                                                                <input disabled type="text" id="form3Examplea9" class="form-control form-control-lg" value="aaaaabbbb@ggggg.cccc" />
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Card stats -->
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">戻る</button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-3">確認</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" tabindex="-1" id="modal-3">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">変更保存完了</h4><button type="button" class="btn-close d-none" data-bs-dismiss="modal"
                                                                           aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <section class="newsletter-subscribe">
                                    <div class="container">
                                        <div class="intro"></div>
                                        <form class="d-flex justify-content-center flex-wrap mx-auto" method="post"
                                              style="text-align: center;">
                                            <h1 class="cap-icon-h1"><i class="fa fa-check cap-icon-i"></i></h1>
                                        </form>
                                    </div>
                                    <h4 class="text-center align-self-center pt-2">変更を保存しました。</h4>
                                </section>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 変更取消 -->
                <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" tabindex="-1"
                     id="modal-changecal">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">変更取消</h4><button type="button" class="btn-close d-none" data-bs-dismiss="modal"
                                                                         aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <section class="newsletter-subscribe pt-0 p-0">
                                    <div class="container">
                                        <div class="intro"></div>
                                        <form class="d-flex justify-content-center flex-wrap mx-auto" method="post"
                                              style="text-align: center;">
                                            <h1 class="cap-icon-h1 border border-danger border-8"><i class="fa fa-exclamation-circle pt-1 pb-1 ps-3 pe-3 cap-icon-i text-danger"></i></h1>
                                        </form>
                                    </div>
                                    <h4 class="text-center align-self-center">変更内容を破棄してもよろしいですか？</h4>

                                </section>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg btn-primary" data-bs-dismiss="modal">破棄</button><button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">閉じる</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PW変更 -->
                <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" tabindex="-1"
                     id="modal-changpw">
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">パスワード変更</h4><button type="button" class="btn-close d-none" data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <section class="newsletter-subscribe pt-0 p-0">
                                    <p class="pb-3 text-danger">この画面ではパスワードのみ保存します。</p>
                                    <div class="mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label" for="form3Examplev4">パスワード</label>
                                            <input type="text" id="form3Examplev4" class="form-control form-control-lg" autocomplete="off" value="************" />
                                        </div>
                                    </div>
                                    <div class="mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label" for="form3Examplev4">パスワード再確認</label>
                                            <input type="text" id="form3Examplev4" class="form-control form-control-lg" autocomplete="off" value="************" />
                                        </div>
                                    </div>



                                </section>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">戻る</button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-3">確認</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        @Html.Partial("_t_footer")
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/t_seller_profile")
}