<footer class="bg-light footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center my-auto h-100 w-100">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#">セルイチについて</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="@Url.Action("Index", "a_contact")">お問い合わせ</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="#">利用規約</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="#">プライバシーポリシー</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">© セルイチ 2022. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

