<div id="sidebar-main" class="sidebar sidebar-default sidebar-separate">
    <div class="sidebar-category sidebar-default">
        <div class="category-title">
            <a class="btn" data-bs-toggle="collapse" href="#cap-collapse-sidemenu" role="button"
               aria-expanded="false" aria-controls="cap-collapse-sidemenu">
                <span>メニュー</span>
            </a>
        </div>
        <div class="category-content collapse" id="cap-collapse-sidemenu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-search me-2 text-info" aria-hidden="true"></i>査定履歴
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="fa fa-pencil-square-o me-2 text-info" aria-hidden="true"></i>会員登録内容変更
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-sort-numeric-desc me-2 text-info" aria-hidden="true"></i>利用可能査定枠
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-history me-2 text-info" aria-hidden="true"></i>利用履歴
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-exclamation-triangle me-2 text-info" aria-hidden="true"></i>退会
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-sign-out me-2 text-info" aria-hidden="true"></i>ログアウト
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

