.cap-header{padding-top: 50px;padding-bottom: 50px;background: #6792da;}
	.cap-error-icon{font-size: 15em;}
	.cap-error-title{color: #c2c2c2;}
	.cap-error-p{color: rgb(194,194,194);font-size: 13px;margin: 34px;}


	.cap-con-form{
	max-width: 640px;width: 100%;
	}

	.cap-fon-form-w60mw250
	{
		width: 60%;min-width: 250px;
	}

	.cap-fon-form-w350{
		max-width: 350px;
	}

	.cap-fon-form-w200{
		max-width: 200px;
	}	
	.cap-fon-form-w250{
		max-width: 250px;
	}

	.cap-icon-h1{
		border-radius: 100px;border: 15px solid var(--bs-green);
	}

	.cap-icon-i{
		font-size: 150px;
	}

	.cap-card-shadow{
		box-shadow: 0px 0px 2px 0px var(--bs-gray-300);
	}

	.cap-main {
		min-height: 73vh;
	}