<hr class="navbar-divider my-5 opacity-20">
<form id="form1">
    <ul class="navbar-nav mb-md-4 p-3 p-md-0">
        <li>
            <div class="ls-wider px-xl-3" href="#">
                <h5>メニュー</h5>
            </div>
        </li>
        <li>
            <div class="text-center px-xl-3">
                <div class="mb-3 text-start">
                    <div class="mb-3 text-start">
                        <label for="disabledSelect" class="form-label">ステータス</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                   checked> <label class="form-check-label" for="defaultCheck1"> <span class="ms-1 ps-1 pe-1 rounded-circle bg-primary text-white">未</span> 未処理</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                   checked> <label class="form-check-label" for="defaultCheck1"> <span class="ms-1 ps-1 pe-1 rounded-circle bg-info text-white">簡</span> 簡易査定</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                   checked> <label class="form-check-label" for="defaultCheck1"> <span class="ms-1 ps-1 pe-1 rounded-circle bg-warning text-white">査</span> 査定依頼</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                   checked> <label class="form-check-label" for="defaultCheck1"> <span class="ms-1 ps-1 pe-1 rounded-circle bg-success text-white">買</span> 買取依頼</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                   checked> <label class="form-check-label" for="defaultCheck1"> <span class="ms-1 ps-1 pe-1 rounded-circle bg-warning ext-dark">確</span> 確認中</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                   checked> <label class="form-check-label" for="defaultCheck1"> <span class="ms-1 ps-1 pe-1 rounded-circle bg-info txt-dark">交</span> 交渉中</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="ms-1 ps-1 pe-1 rounded-circle defaultCheck1"
                                   checked> <label class="form-check-label" for="defaultCheck1"> <span class="ms-1 ps-1 pe-1 rounded-circle bg-secondary">成</span> 成約</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                   checked> <label class="form-check-label" for="defaultCheck1"> <span class="ms-1 ps-1 pe-1 rounded-circle bg-dark text-white">売辞</span> 売主辞退</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                   checked> <label class="form-check-label" for="defaultCheck1"> <span class="ms-1 ps-1 pe-1 rounded-circle bg-danger text-white">買辞</span> 買主辞退</label>
                        </div>
                    </div>
                </div>

            </div>
        </li>
        <li>
            <div class="text-center px-xl-3">

                <div class="mb-3 text-start">
                    <label for="disabledSelect" class="form-label">マンション</label> <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="マンション名
                    ">
                </div>
            </div>
        </li>
        <li>
            <div class="text-center px-xl-3">
                <div class="mb-3 text-start">
                    <label for="disabledSelect" class="form-label">範囲指定</label> <select id="disabledSelect" class="form-select mb-2">
                        <option>登録日</option>
                        <option>詳細査定日</option>
                        <option>買取依頼日</option>
                        <option>送客日</option>
                        <option>成約日</option>
                        <option>辞退日</option>
                    </select> <label for="disabledSelect" class="form-label">開始日</label><input class="form-control mb-2"
                                                                                               required="" type="date"> <label for="disabledSelect" class="form-label">終了日</label><input class="form-control mb-2" required="" type="date">
                    <div class="row mb-3">
                        <div class="col-6"> <button type="button" class="btn btn-primary w-100">今日</button></div>
                        <div class="col-6"><button type="button" class="btn btn-primary w-100">今週</button></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6"><button type="button" class="btn btn-primary w-100">今月</button></div>
                        <div class="col-6"><button type="button" class="btn btn-primary w-100">先月</button></div>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="form-group ps-3 pe-3">
                <button type="button"
                        class="btn btn-primary w-100 w-100 mb-3">
                    表示
                </button>
            </div>

            <div class="form-group ps-3 pe-3">
                <button type="button"
                        class="btn btn-primary w-100 w-100 mb-3">
                    CSVダウンロード
                </button>
            </div>
        </li>

    </ul>
</form>
<div class="mt-auto"></div>


