@{
    string appPath = System.Web.Hosting.HostingEnvironment.ApplicationVirtualPath;
    if (appPath == "/")
    {
        appPath = "";
    }
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>セルイチ管理機能</title>
    <link rel="stylesheet" href="~/Content/t_dashboard/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/t_dashboard/css/style.css">
    <link rel="stylesheet" href="~/Content/t_dashboard/css/index.css">
    <link href="~/Content/css/validation.css" rel="stylesheet" />
</head>

<body>
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
        @Html.Partial("t_seller_list/_t_seller_list_sellerPartial")        
        <div class="h-screen flex-grow-1 overflow-y-lg-auto">
            <hidden>
                <input type="hidden" id="path" value=@appPath>
            </hidden>
            @RenderBody()
            <footer class="text-center text-lg-start">
                <!-- Copyright -->
                <div class="text-center p-3">
                    © セルイチ 2022. All Rights Reserved.
                </div>
                <!-- Copyright -->
            </footer>
        </div>
    </div>
    <script src="~/Content/t_dashboard/bootstrap/js/bootstrap.min.js"></script>
    @Scripts.Render("~/Content/scripts/application")
    @RenderSection("scripts", required: false)
</body>

</html>