@model Models.Tenfold.t_assess_list.t_assess_listModel

@{
    ViewBag.Title = "査定依頼一覧";
    Layout = "~/Views/Shared/_t_menuLayout.cshtml";
}

@section styles{
    @Styles.Render("~/Content/tenfold_css_common")
}

<div class="d-flex flex-column min-vh-100 bg-surface-secondary mt-18" id="wrapper">
    <form id="form1">
        <div id="sidebar-wrapper">
            <ul class="navbar-nav mb-md-4 p-3 mt-5 p-md-0">
                <li>
                    <div class="ls-wider px-xl-3" href="#">

                    </div>
                </li>
                <li>
                    <div class="text-center px-xl-3">
                        <div class="mb-3 text-start">
                            <div class="mb-3 text-start">
                                <label for="disabledSelect" class="form-label">ステータス</label>
                                <span class="cap-errormsg-right" id="CheckBoxError" name="CheckBoxError"></span>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="Chk_Shinki" name="Chk_Shinki"
                                           checked> <label class="form-check-label" for="Chk_Shinki">
                                        <span class="ms-1 ps-1 pe-1 rounded-circle bg-warning text-white">新</span> 新規
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="Chk_Kosho" name="Chk_Kosho"
                                           checked> <label class="form-check-label" for="Chk_Kosho">
                                        <span class="ms-1 ps-1 pe-1 rounded-circle bg-info txt-dark">交</span> 交渉中
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="Chk_Seiyaku" name="Chk_Seiyaku"
                                           checked> <label class="form-check-label" for="Chk_Seiyaku">  
                                        <span class="ms-1 ps-1 pe-1 rounded-circle bg-secondary">成</span>
                                        成約
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="Chk_Urinushi" name="Chk_Urinushi"
                                           checked> <label class="form-check-label" for="Chk_Urinushi">
                                        <span class="ms-1 ps-1 pe-1 rounded-circle bg-light text-danger">辞</span> 売主辞退
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="Chk_Kainushi" name="Chk_Kainushi"
                                           checked> <label class="form-check-label" for="Chk_Kainushi">
                                        <span class="ms-1 ps-1 pe-1 rounded-circle bg-dark text-white">辞</span> 買主辞退
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="Chk_Hide" name="Chk_Hide"
                                           checked> <label class="form-check-label" for="Chk_Hide">
                                        <span class="ms-1 ps-1 pe-1 rounded-circle bg-danger text-white">非</span> 非表示
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="text-center px-xl-3">
                        <div class="mb-3 text-start">
                            <label for="Range" class="form-label">範囲指定</label>
                            <select id="Range" name="Range" class="form-select mb-2">
                                <option value="買取依頼日">買取依頼日</option>
                                <option value="送客日">送客日</option>
                                <option value="成約日">成約日</option>
                                <option value="辞退日">辞退日</option>
                            </select>

                            <label for="StartDate" class="form-label">開始日</label>
                            <span class="cap-errormsg-right" id="errorStartDate"></span>
                            <input class="form-control mb-2" id="StartDate" name="StartDate" type="date">

                            <label for="EndDate" class="form-label">終了日</label>
                            <span class="cap-errormsg-right" id="errorEndDate"></span>
                            <input class="form-control mb-2" id="EndDate" name="EndDate" type="date">

                            <div class="row mb-3">
                                <div class="col-6"><button type="button" id="btnToday" name="btnToday" class="btn btn-primary w-100">今日</button></div>
                                <div class="col-6"><button type="button" id="btnThisWeek" name="btnThisWeek" class="btn btn-primary w-100">今週</button></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6"><button type="button" id="btnThisMonth" name="btnThisMonth" class="btn btn-primary w-100">今月</button></div>
                                <div class="col-6"><button type="button" id="btnLastMonth" name="btnLastMonth" class="btn btn-primary w-100">先月</button></div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="form-group ps-3 pe-3">
                        <button type="button" id="btnProcess" class="btn btn-primary w-100 w-100 mb-3">表示</button>
                    </div>
                    <div class="form-group ps-3 pe-3">
                        <button type="button" id="btnCSV" class="btn btn-primary w-100 w-100 mb-3">CSVダウンロード</button>
                    </div>
                </li>
            </ul>
            <div class="mt-auto pb-20"></div>
        </div>
    </form>
    <div class="toggle-button">
        <a href="#menu-toggle" class="btn" id="menu-toggle">
            <span class="fa fa-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
    <div class="d-flex flex-column min-h-screen bg-surface-secondary" id="page-content-wrapper">

        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">

                <div class="card shadow border-0 mb-7">

                    <div class="card-header">

                        <div class="col-md-12 col-12 mb-3 mb-sm-0 d-flex">

                            <h1 class="h2 mb-0 ls-tight">査定依頼一覧</h1>
                            <span class="ps-2 text-muted small align-self-end">査定依頼</span>
                        </div>
                        <hr class="navbar-divider my-5 opacity-20">
                        <div class="d-inline-flex">
                            <h5 class="mb-0">査定依頼一覧</h5> <span class="ps-md-5 text-muted text-sm" id="total_record_up"></span><span style="color: red;" class="ps-md-5 text-sm" id="no_record"></span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap sortMe" id="mansiontable">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-end text-decoration-underline sort-by" ordercol-direction="desc" ordercol-index="10" style="width: 100px">No.</th>
                                    <th scope="col" style="width: 60px" class="text-decoration-underline sort-by" ordercol-index="11">ステータス</th>
                                    <th scope="col" style="width: 100px" class="text-decoration-underline sort-by" ordercol-index="2_10">査定ID</th>
                                    <th scope="col" style="width: 200px" class="text-decoration-underline sort-by" ordercol-index="3_10">物件（マンション、部屋番号）</th>
                                    <th scope="col" style="width: 150px" class="text-decoration-underline sort-by" ordercol-index="4_10">売主名</th>
                                    <th scope="col" style="width: 160px" class="text-decoration-underline sort-by" ordercol-index="5_10">不動産会社</th>
                                    <th scope="col" style="width: 160px" class="text-decoration-underline sort-by" ordercol-index="6_10">買取依頼日時</th>
                                    <th scope="col" style="width: 160px" class="text-decoration-underline sort-by" ordercol-index="7_10">送客日時</th>
                                    <th scope="col" style="width: 160px" class="text-decoration-underline sort-by" ordercol-index="8_10">成約日時</th>
                                    <th scope="col" style="width: 160px" class="text-decoration-underline sort-by" ordercol-index="9_10">辞退日時</th>
                                    <th class="d-none">AssID</th>
                                    <th class="d-none">Status</th>
                                    @*<th scope="col" style="width: auto" class="d-none d-md-block opacity-0">&nbsp;</th>*@

                                </tr>
                            </thead>
                            <tbody>
                                @*<tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td>
                                        <label class="form-check-label" for="defaultCheck1">
                                            <span class="ms-1 ps-1 pe-1 rounded-circle bg-warning text-white">新</span> 新規
                                        </label>
                                    </td>
                                    <td> A9999999 </td>
                                    <td> <a class="text-heading font-semibold text-decoration-underline" href="#">Mansion name Room number</a> </td>
                                    <td>
                                        <a class="text-heading font-semibold text-decoration-underline" href="#">
                                            Seller name Seller
                                            name
                                        </a>
                                    </td>
                                    <td>
                                        <a class="text-heading font-semibold text-decoration-underline" href="#">
                                            Real Estate Company
                                            Name
                                        </a>
                                    </td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                </tr>
                                <tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td>
                                        <label class="form-check-label" for="defaultCheck1">
                                            <span class="ms-1 ps-1 pe-1 rounded-circle bg-info txt-dark">交</span> 交渉中
                                        </label>
                                    </td>
                                    <td> A9999999 </td>
                                    <td> <a class="text-heading font-semibold text-decoration-underline" href="#">Mansion name Room number</a> </td>
                                    <td>
                                        <a class="text-heading font-semibold text-decoration-underline" href="#">
                                            Seller name Seller
                                            name
                                        </a>
                                    </td>
                                    <td>
                                        <a class="text-heading font-semibold text-decoration-underline" href="#">
                                            Real Estate Company
                                            Name
                                        </a>
                                    </td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                </tr>
                                <tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td>
                                        <label class="form-check-label"
                                               for="defaultCheck1">
                                            <span class="ms-1 ps-1 pe-1 rounded-circle bg-secondary">成</span>
                                            成約
                                        </label>
                                    </td>
                                    <td> A9999999 </td>
                                    <td> <a class="text-heading font-semibold text-decoration-underline" href="#">Mansion name Room number</a> </td>
                                    <td>
                                        <a class="text-heading font-semibold text-decoration-underline" href="#">
                                            Seller name Seller
                                            name
                                        </a>
                                    </td>
                                    <td>
                                        <a class="text-heading font-semibold text-decoration-underline" href="#">
                                            Real Estate Company
                                            Name
                                        </a>
                                    </td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                </tr>
                                <tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td>
                                        <label class="form-check-label" for="defaultCheck1">
                                            <span class="ms-1 ps-1 pe-1 rounded-circle bg-light text-danger">辞</span> 売主辞退
                                        </label>
                                    </td>
                                    <td> A9999999 </td>
                                    <td> <a class="text-heading font-semibold text-decoration-underline" href="#">Mansion name Room number</a> </td>
                                    <td>
                                        <a class="text-heading font-semibold text-decoration-underline" href="#">
                                            Seller name Seller
                                            name
                                        </a>
                                    </td>
                                    <td>
                                        <a class="text-heading font-semibold text-decoration-underline" href="#">
                                            Real Estate Company
                                            Name
                                        </a>
                                    </td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                </tr>
                                <tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td>
                                        <label class="form-check-label" for="defaultCheck1">
                                            <span class="ms-1 ps-1 pe-1 rounded-circle bg-dark text-white">辞</span> 買主辞退
                                        </label>
                                    </td>
                                    <td> A9999999 </td>
                                    <td> <a class="text-heading font-semibold text-decoration-underline" href="#">Mansion name Room number</a> </td>
                                    <td>
                                        <a class="text-heading font-semibold text-decoration-underline" href="#">
                                            Seller name Seller
                                            name
                                        </a>
                                    </td>
                                    <td>
                                        <a class="text-heading font-semibold text-decoration-underline" href="#">
                                            Real Estate Company
                                            Name
                                        </a>
                                    </td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                </tr>
                                <tr>
                                    <td class="text-end"> 999999999 </td>
                                    <td>
                                        <label class="form-check-label" for="defaultCheck1">
                                            <span class="ms-1 ps-1 pe-1 rounded-circle bg-danger text-white">非</span> 非表示
                                        </label>
                                    </td>
                                    <td> A9999999 </td>
                                    <td> <a class="text-heading font-semibold text-decoration-underline" href="#">Mansion name Room number</a> </td>
                                    <td>
                                        <a class="text-heading font-semibold text-decoration-underline" href="#">
                                            Seller name Seller
                                            name
                                        </a>
                                    </td>
                                    <td>
                                        <a class="text-heading font-semibold text-decoration-underline" href="#">
                                            Real Estate Company
                                            Name
                                        </a>
                                    </td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                    <td>YYYY/MM/DD hh:mm:ss</td>
                                </tr>*@

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm" id="total_record"></span>
                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("_t_footer")
        @Html.Partial("_ErrorPopup")
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/t_assess_list")
}
